.backers {
  display: flex;
  flex-direction: column;

  & > table {
    border-collapse: collapse;
    border-radius: 16px;
    margin-bottom: 2rem;
    box-shadow: 0 0.25rem 0.5rem rgba(116, 116, 116, 0.25);

    th,
    td {
      border-bottom: 1px solid rgba(116, 116, 116, 0.15);
      text-align: left;
      padding: 1rem 1.5rem;
    }

    & > tbody {
      .backerInfo,
      .donations {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }

      & > tr:last-of-type {
        & > td {
          border-bottom: none;
        }
      }
    }
  }
}
