$light-green: rgb(83, 167, 83);
$dark-green: rgb(67, 136, 67);
$light-gray: rgb(116, 116, 116);
$dark-gray: rgb(53, 53, 53);

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 1.25rem;
  color: $light-gray;
  background-color: white;
  box-shadow: 0 0.5rem 1rem rgba(53, 53, 53, 0.25);
  transition: color 0.2s;

  &:hover {
    color: $dark-gray;
  }

  .home {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-size: large;
    text-decoration: none;
    color: $light-gray;
    transition: color 0.2s;

    &:hover {
      color: $dark-gray;
    }
  }
}
