/* Main section styling */
.container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  /* Media */
  .imageCollage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    perspective: 200px;
    z-index: 100;
  }
}
