.navLink {
  & > a {
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--color-base-gray);
    transition: color 0.2s;

    &:hover {
      color: var(--color-dark-gray);
    }
  }
}

.selected {
  & > a {
    color: var(--color-dark-gray);
    font-weight: 500;
  }
}
