.socialIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 12px;
  background-color: white;
  cursor: pointer;
  box-shadow: 0 0.2rem 0.35rem rgba(53, 53, 53, 0.25);

  & > svg {
    width: 24px;
    height: 24px;
    fill: #353535;
    transition: fill 0.2s;
  }

  &:hover {
    & > svg {
      fill: #3c6e71;
    }
  }
}
