.authMenuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border: 2px solid var(--color-base-gray);
  border-radius: 50%;
  cursor: pointer;
  transition: border-color 0.2s;

  & > svg {
    width: 24px;
    height: 24px;
    fill: var(--color-base-gray);
    transition: fill 0.2s;
  }

  &:hover {
    border-color: var(--color-dark-gray);

    & > svg {
      fill: var(--color-dark-gray);
    }
  }
}
