.sidebar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 7.2rem;
  min-width: 18rem;
  border-right: 1px solid rgba(53, 53, 53, 0.25);

  .categoryRow {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 0;

    & > svg {
      width: 40px;
      height: 40px;
      fill: rgb(116, 116, 116);
      transition: all 0.2s;
    }

    &:not(:last-child) {
      border-bottom: 1px solid rgba(53, 53, 53, 0.25);
    }

    .categoryName {
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    &:hover {
      & > svg {
        fill: rgb(67, 136, 67);
      }
    }
  }

  .selected {
    & > svg {
      fill: rgb(67, 136, 67);
    }

    .categoryName {
      font-weight: bolder;
    }
  }
}
