@import '../../breakpoints.scss';

.categoriesGrid {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin: 16rem 0 4rem;

  .categoriesContainer {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    align-self: center;
    width: 60%;

    @include media('<1440px') {
      width: 65%;
    }

    @include media('<910px') {
      width: 75%;
    }

    @include media('<794px') {
      width: 90%;
    }

    @include media('<672px') {
      width: 100%;
    }
  }
}
