@import '../../breakpoints.scss';

.projectsRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  .heading {
    font-size: 2rem;

    @include media('<526px') {
      font-size: 1.5rem;
    }
  }

  .carouselContainer {
    width: 90%;
    margin: auto;
    position: relative;
  }
}
