@import '../../breakpoints.scss';

.projectsRow {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 16rem;

  .heading {
    display: inline-block;
    font-size: 3.5rem;
    font-weight: 500;
  }

  .carouselContainer {
    width: 90%;
    margin: auto;
    position: relative;
  }
}
