.categoriesGrid {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin: 16rem 0 4rem;

  .categoriesContainer {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    align-self: center;
    width: 60%;
  }
}
