.payoutPolicy {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 0.5rem;

  .title {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--color-dark-green);
    text-transform: uppercase;
  }

  .description {
    text-wrap: wrap;
    font-size: 0.7rem;
  }
}
