.progressBackground {
  background-color: var(--color-dark-gray-transparent);
  border-radius: 50px;
  overflow: hidden;
}

.progressForeground {
  background-color: var(--color-dark-green);
  height: 100%;
  border-radius: 50px;
}

.flatEdge {
  border-radius: 0;
}
