.progressBackground {
  background-color: rgba(116, 116, 116, 0.25);
  border-radius: 50px;
  overflow: hidden;

  .progressForeground {
    background-color: rgb(83, 167, 83);
    height: 100%;
    border-radius: 50px;
  }
}

.flatEdge {
  border-radius: 0;
}
