.projectCarousel {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 55%;

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    height: 100%;
  }

  .pagination {
    display: flex;
    align-items: center;
    align-self: flex-end;
    gap: 1.2rem;
    height: 40px;
  }
}
