$light-green: rgb(83, 167, 83);
$dark-green: rgb(67, 136, 67);
$dark-gray: rgb(53, 53, 53);

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $dark-gray;

  .heading {
    margin-bottom: 3rem;
    text-align: center;

    & > span {
      font-size: 3rem;
    }

    & > span:nth-child(1) {
      text-transform: capitalize;
    }

    & > span:nth-child(3) {
      text-transform: uppercase;
      color: $light-green;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 1rem;
  }

  .stats {
    display: flex;
    align-items: center;
    width: 100%;

    .stat {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 2.5rem;
      padding: 1rem;
      border: 1px solid rgba(116, 116, 116, 0.25);
      box-shadow: 0 0.25rem 0.5rem rgba(116, 116, 116, 0.25);

      .sum {
        font-size: 1.5rem;
        font-weight: bold;
        color: $dark-green;
      }
    }
  }
}
