.homeButton {
  text-decoration: none;
  color: var(--color-base-gray);
  transition: color 0.2s;

  .row {
    display: flex;
    align-items: center;
    gap: calc(0.2rem * var(--scale));

    .text {
      font-size: calc(1.2rem * var(--scale));
    }

    .icon {
      & > svg {
        width: calc(22px * var(--scale));
        height: calc(22px * var(--scale));
        fill: var(--color-base-gray);
        transition: fill 0.2s;
      }
    }
  }

  &:hover {
    color: var(--color-dark-gray);

    .icon {
      & > svg {
        fill: var(--color-dark-gray);
      }
    }
  }
}
