$light-gray: rgb(116, 116, 116);
$dark-gray: rgb(53, 53, 53);

.homeButton {
  display: flex;
  align-items: center;
  gap: calc(0.2rem * var(--scale, 1));
  color: $light-gray;
  transition: color 0.2s;

  .text {
    font-size: calc(1.2rem * var(--scale, 1));
    text-decoration: none;
  }

  .icon {
    width: calc(22px * var(--scale, 1));
    height: calc(22px * var(--scale, 1));
    fill: $light-gray;
    transition: fill 0.2s;
  }

  &:hover {
    color: $dark-gray;

    .icon {
      fill: $dark-gray;
    }
  }
}
