$light-green: rgb(83, 167, 83);
$dark-green: rgb(67, 136, 67);
$light-gray: rgb(116, 116, 116);
$dark-gray: rgb(53, 53, 53);

.topNavLinks {
  display: flex;
  align-items: center;
  gap: 1rem;

  .row {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
  }
}
