$light-green: rgb(83, 167, 83);
$dark-green: rgb(67, 136, 67);
$light-gray: rgb(76, 84, 95);
$dark-gray: rgb(69, 74, 78);
$light-red: rgb(202, 57, 49);
$dark-red: rgb(170, 46, 40);
$light-orange: rgb(216, 96, 41);
$dark-orange: rgb(185, 83, 35);

.button {
  font-size: 0.8125rem;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  padding: 0.625rem 1.5rem;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: $dark-green;
  }

  &:disabled {
    cursor: auto;
  }
}

.green {
  background-color: $light-green;
  border: 1px solid $light-green;

  &:hover {
    background-color: $dark-green;
    border-color: $dark-green;
  }
}

.gray {
  background-color: $light-gray;
  border: 1px solid $light-gray;

  &:hover {
    background-color: $dark-gray;
    border-color: $dark-gray;
  }
}

.red {
  background-color: $light-red;
  border: 1px solid $light-red;

  &:hover {
    background-color: $dark-red;
    border-color: $dark-red;
  }
}

.orange {
  background-color: $light-orange;
  border: 1px solid $light-orange;

  &:hover {
    background-color: $dark-orange;
    border-color: $dark-orange;
  }
}

.green.inverted {
  color: $light-green;

  svg {
    fill: $light-green;
  }

  &:hover {
    background-color: $dark-green;
    border-color: $dark-green;

    svg {
      fill: white;
    }
  }
}

.orange.inverted {
  color: $light-orange;

  svg {
    fill: $light-orange;
  }

  &:hover {
    background-color: $light-orange;
    border-color: $light-orange;

    svg {
      fill: white;
    }
  }
}

.inverted {
  background-color: transparent;
  transition: all 0.2s;

  &:hover {
    color: white;
  }
}
