@import '../breakpoints.scss';

.authPage {
  padding: 0 1.5rem;

  .error {
    color: var(--color-red);
  }

  & > section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 7rem;
    width: 100%;
    height: calc(100vh - 7rem);

    .card {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 25%;
      margin-top: 6rem;
      padding: 1rem;
      border-radius: 16px;
      box-shadow: 0 0.25rem 0.5rem rgba(116, 116, 116, 0.25);

      .formInput {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-bottom: 1.5rem;

        & > label {
          font-size: 1.2rem;
        }

        & > input {
          padding: 0.5rem 1rem;
          border-radius: 50px;
          outline: none;
          border: 1px solid gray;
        }
      }

      .buttonContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
      }

      .heading {
        text-align: center;
      }

      @include media('<1386px') {
        width: 30%;
      }

      @include media('<1120px') {
        width: 35%;
      }

      @include media('<960px') {
        width: 25rem;
      }
    }

    .redirectLink {
      align-self: center;

      & > a {
        color: green;
      }
    }
  }
}
