:root {
  --color-white: #fff;
  --color-white-transparent: rgba(255, 255, 255, 0.9);
  --color-light-gray: #e1e1e4;
  --color-base-gray: #9b9e9e;
  --color-alt-gray: #5a5a5a;
  --color-dark-gray: #353535;
  --color-dark-gray-transparent: rgba(53, 53, 53, 0.25);
  --color-dark-green: #3c6e71;
  --color-orange: #d86029;
  --color-red: #ca3931;
  --color-mauve: #553a41;
  --color-black-transparent: rgba(0, 0, 0, 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-light-gray);
  color: var(--color-dark-gray);
  padding: 0 8rem;
}
