:root {
  --color-white: #fff;
  --color-white-transparent: rgba(255, 255, 255, 0.9);
  --color-light-gray: #e1e1e4;
  --color-base-gray: #747474;
  --color-dark-gray: #353535;
  --color-dark-gray-transparent: rgba(53, 53, 53, 0.25);
  --color-dark-green: #3c6e71;
  --color-orange: #d86029;
  --color-red: #ca3931;
  --color-mauve: #553a41;
  --color-mauve-transparent: #553a41;
  --color-black-transparent: rgba(0, 0, 0, 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-light-gray);
  color: var(--color-dark-gray);
  padding: 0 8rem;
}

.pt-blocks {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 5;
  pointer-events: none;
}

.pt-blocks .pt-blocks-row {
  flex: 1;
  width: 100%;
  display: flex;
}

.pt-blocks .pt-blocks-row .pt-blocks-row-column {
  position: relative;
  flex: 1;
  background: var(--color-mauve);
  margin: -0.25px;
}

.pt-route {
  display: none;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--color-light-gray);
  opacity: 0;
  z-index: 5;
  pointer-events: none;
}
