.socialIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 12px;
  background-color: var(--color-white);
  cursor: pointer;
  box-shadow: 0 0.2rem 0.35rem var(--color-dark-gray-transparent);

  & > svg {
    width: 24px;
    height: 24px;
    fill: var(--color-dark-gray);
    transition: fill 0.2s;
  }

  &:hover {
    & > svg {
      fill: var(--color-dark-green);
    }
  }
}
