@import '../../breakpoints.scss';

.projectPage {
  display: flex;
  flex-direction: column;
  margin: 0 auto 6rem;
  width: 75%;

  @include media('<1480px') {
    width: 85%;
  }

  @include media('<1320px') {
    width: 90%;
  }
}
