.callToAction {
  position: absolute;
  top: calc(72px + 2rem + 10vh);
  left: 0;
  display: flex;
  height: fit-content;
  flex-direction: column;
  gap: 12vh;
  z-index: 1;

  .headingContainer {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    .headingSmall {
      font-size: 3.5rem;
      font-weight: 500;
    }

    .headingLarge {
      font-size: 5rem;
      font-weight: 600;
      color: #3c6e71;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
