$light-green: rgb(83, 167, 83);
$dark-green: rgb(67, 136, 67);
$light-gray: rgb(76, 84, 95);
$light-red: rgb(202, 57, 49);
$light-orange: rgb(216, 96, 41);

.socialButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  border-width: 0;
  box-shadow: 0 0.2rem 0.35rem rgba(53, 53, 53, 0.25);

  & > svg {
    width: 22px;
    height: 22px;
    fill: #353535;
    transition: fill 0.2s;
  }

  &:hover {
    & > svg {
      fill: #3c6e71;
    }
  }
}

.linkButton {
  position: relative;
  cursor: pointer;

  .tooltip {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    text-wrap: nowrap;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
  }

  .tooltip.show {
    visibility: visible;
    opacity: 1;
  }
}
