.revealContent {
  position: absolute;
  bottom: -var(--reveal-content-height);
  width: 100%;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  z-index: 2;

  .contentContainer {
    padding: 0 1rem;
  }
}

.hovered {
  background-color: white;
  box-shadow: 0 0.25rem 0.5rem rgba(116, 116, 116, 0.25);
}
