$light-green: rgb(83, 167, 83);
$dark-green: rgb(67, 136, 67);
$light-gray: rgb(76, 84, 95);
$light-red: rgb(202, 57, 49);
$light-orange: rgb(216, 96, 41);

.mainContainer {
  display: flex;
  gap: 1rem;

  .imageGallery {
    flex: 33.33%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .imageLarge {
      height: 28rem;
      border-radius: 16px;
      position: relative;
      overflow: hidden;

      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .imageRow {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.5rem;
      width: 100%;

      .imageSmall {
        width: 8rem;
        height: 8rem;
        border-radius: 16px;
        position: relative;
        border: 2px solid transparent;
        overflow: hidden;
        transition: border-color 0.2s;

        & > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .selected {
        border: 2px solid red;
      }
    }
  }

  .info {
    flex: 66.66%;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & > h5 {
      color: rgb(53, 53, 53);
      font-size: 1rem;
    }

    & > small {
      color: rgb(116, 116, 116);
    }

    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-weight: bold;
      color: rgb(116, 116, 116);

      .backings {
        display: flex;
        gap: 0.5rem;

        & > small:first-of-type {
          color: rgb(53, 53, 53);
          font-weight: 500;
        }
      }

      .etherTarget {
        display: flex;
        align-items: center;
      }
    }

    .buttons {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
    }

    .socials {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .share {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        .linkButton {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          width: 48px;
          height: 48px;
          background-color: #7f7f7f;
          border: none;
          border-radius: 50%;
          cursor: pointer;

          .tooltip {
            visibility: hidden;
            background-color: rgba(0, 0, 0, 0.8);
            color: #fff;
            text-align: center;
            text-wrap: nowrap;
            padding: 5px;
            border-radius: 5px;
            position: absolute;
            z-index: 1;
            bottom: 125%;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;
            transition: opacity 0.3s;
          }

          .tooltip::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
          }

          .tooltip.show {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }

    .followProject {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      width: fit-content;
      padding: 0.5rem 0.8rem;
      background-color: white;
      border: 1px solid gray;
      border-radius: 50px;
      cursor: pointer;
    }

    .progressOut {
      background-color: rgba(116, 116, 116, 0.25);
      height: 0.25rem;
      border-radius: 50px;
      margin-top: 0.5rem;

      .progressIn {
        background-color: $light-green;
        height: 100%;
        border-radius: 50px;
      }
    }
  }

  .green {
    color: $light-green;
  }

  .gray {
    color: $light-gray;
  }

  .red {
    color: $light-red;
  }

  .orange {
    color: $light-orange;
  }
}
