.stat {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--color-white);
  border-radius: 20px;
  box-shadow: 0 0.2rem 0.5rem var(--color-dark-gray-transparent);

  .value {
    font-size: 3.5rem;
    font-weight: 700;
    text-align: right;
    color: var(--color-dark-green);
  }

  .metric {
    font-size: 1.2rem;
    font-weight: 500;
  }
}
