.card {
  align-self: flex-start;
  width: 16rem;
  border-radius: 16px;
  overflow: hidden;

  .imageContainer {
    position: relative;
    height: 256px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    overflow: hidden;
  }

  .contentContainer {
    padding: 0.8rem 1rem;

    .title {
      font-size: 1rem;
      font-weight: 500;
    }

    .ownerInfo {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      .walletAddress {
        font-size: 0.9rem;
      }
    }

    .text {
      font-size: 0.9rem;
    }
  }
}
