.projectStatus {
  font-size: 0.9rem;
}

.green {
  color: var(--color-dark-green);
}

.gray {
  color: var(--color-dark-gray);
}

.red {
  color: var(--color-red);
}

.orange {
  color: var(--color-orange);
}
