.authMenuContent {
  display: flex;
  flex-direction: column;
  padding: 0.25rem 1rem;

  .heading {
    font-size: 1.2rem;
    font-weight: 500;
    padding-top: 0.75rem;
    border-bottom: 1px solid #9b9e9e;
  }

  .buttonContainer {
    align-self: center;
    padding-bottom: 0.75rem;
    margin-top: 1rem;
  }
}
