$light-gray: rgb(116, 116, 116);

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid $light-gray;
  border-radius: 50%;
}

.iconContainer:first-of-type {
  cursor: pointer;
}

.dropDownMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 0.5rem;
  top: 72px;
  right: 0;
  background-color: white;
  padding: 1rem;
  border: 1px solid rgba($color: $light-gray, $alpha: 0.5);
  border-radius: 8px;

  .row {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid rgba($color: $light-gray, $alpha: 0.25);
    border-radius: 8px;
    transition: background-color 0.2s;

    &:hover {
      background-color: rgba($color: $light-gray, $alpha: 0.1);
    }
  }

  .signOutButtonContainer {
    align-self: center;
    margin-top: 1rem;
  }
}
