.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  background-color: var(--color-white);
  border: 2px solid var(--color-red);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s;

  & > svg {
    fill: var(--color-red);
    transition: fill 0.2s;
  }

  &:hover {
    background-color: var(--color-red);

    & > svg {
      fill: var(--color-white);
    }
  }
}
